/* media query for various screen sizes */

@media only screen and (max-width: 767px) {
  .col-one {
    height: 20vh !important;
    width: 200% !important;
  }
}
/* media query for various screen sizes end */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* homepage styling */
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* homepage styling end */

.col-one {
  background-color: #181819;
  height: 100vh;
  width: 120px !important;
}
.col-two {
  background-color: black;
  height: 100vh;
}

.col-three {
  background-color: #fefffe;
  height: 100vh;
  overflow: auto;
  width: 59% !important;
}

.feed-button {
  margin-top: 25px;
  background: none;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.feed-button:hover {
  margin-top: 25px;
  background: #2e2e30;
  margin-left: 10px;
  border: none;
  padding: 10px;
  filter: brightness(200%);
  border-radius: 10px;
}

.feed-image {
  height: 40px;
  width: 40px;
}

.apply-button {
  margin-top: 25px;
  background: none;
  padding: 10px;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
}

.apply-button:hover {
  margin-top: 25px;
  background: #2e2e30;
  padding: 10px;
  border: none;
  margin-left: 10px;
  filter: brightness(200%);
  border-radius: 10px;
}

.apply-image {
  height: 40px;
  width: 40px;
}

.cv-upload-title {
  text-align: center;
  margin-bottom: 30px;
}

.upload-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
}

.upload-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal-form-input[type="file"] {
  margin-bottom: 10px;
}

.modal-form-button[type="button"] {
  background-color: #111111;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-form-button[type="button"]:hover {
  background-color: #111111a1;
}

.job-card-container {
  background-color: #181819;
  margin-top: 30px;
  padding-top: 10px;
  border-radius: 17px;
  color: white;
  width: 90% !important;
  height: 12% !important ;
}

.job-card-image {
  height: 70px;
  width: 70px;
}

.job-card-job-location {
  color: #8b8a8b;
  margin-bottom: 5px;
}

.job-card-job-company {
  margin-bottom: 5px;
}

.job-card-col-one {
  width: 100px !important;
}

.render-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 30px;
}

/* styling for scroll  */
.job-list-container {
  overflow-y: scroll;
  max-height: calc(100vh - 100px); /* adjust height as needed */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #181819;
}

::-webkit-scrollbar-thumb {
  background-color: #9ea19e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
/* styling for scroll end  */

/* Styling for search area, search bar, and button for posting */
.search-container {
  border-radius: 30px;
  background-color: #181819;
  color: #575758;
  margin-top: 20px;
  height: 12%;
  width: 80%;
}

.search-bar {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 80%;
  height: 42px;
  background-color: #181819;
  color: #575758;
  border: none;
  font-size: 18px;
}

.search-bar:focus {
  outline: none;
}

.search-image {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-bottom: 6px;
}

.upper-box {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.new-job-form-button {
  margin-left: 15px;
  margin-top: 16px;
  padding: 5px;
  background: none;
  border: none;
}

.new-job-form-button:hover {
  background: #2e2e30;
  border: none;
  padding: 5px;
  filter: brightness(200%);
  border-radius: 80px;
}

.add-image {
  height: 50px;
  width: 50px;
}

.upload-modal-job-post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
}

.upload-modal-overlay-job-post {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Styling for search area, search bar, and button for posting end */

/* Styling for new job post form */

.new-job-post-form-title {
  text-align: center;
  margin-bottom: 10px;
}
.form-container {
  width: 600px;
  margin: 0 auto;
}

.modal-form-job-post input {
  margin-left: 10px;
}

.modal-form-job-post label {
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-control textarea {
  height: 150px;
  width: 100%;
  /* resize: none; */
}

#Position {
  margin-left: 10px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-sub {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: #181819;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-sub:hover {
  background-color: #1818198e;
}
/* Styling for new job post form end */

.all-info-box {
  /* position: absolute; */
  width: 95%;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.entry-button {
  margin-top: 10px;
  margin-left: 10px;
  background: #2e2e30;
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
  height: 35px;
}

.welcome-email-input {
  height: 40px;
  margin-top: 20px;
}
